<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
      Package visibility (Android 11+): make the Settings package visible so we can
      launch its Developer options activity explicitly by class name as a fallback
      (see openDeveloperOptions). Without this, an explicit start into another
      package throws ActivityNotFoundException under targetSdk 30+.
    -->
    <queries>
        <package android:name="com.android.settings" />
        <intent>
            <action android:name="android.settings.APPLICATION_DEVELOPMENT_SETTINGS" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeveloperOptions">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Trampoline">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DisabledActivity" />
    </application>

</manifest>